<a href="https://colab.research.google.com/github/crypto-appiya/PyBites/blob/main/Enumerate_2_sequences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Enumerate 2 sequences
Iterate over the given names and countries lists, printing them prepending the number of the loop (starting at 1). Here is the output you need to deliver:

1. Julian     Australia
2. Bob        Spain
3. PyBites    Global
4. Dante      Argentina
5. Martin     USA
6. Rodolfo    Mexico
Notice that the 2nd column should have a fixed width of 11 chars, so between Julian and Australia there are 5 spaces, between Bob and Spain, there are 8. This column should also be aligned to the left.

Ideally you use only one for loop, but that is not a requirement.

### Template

In [ ]:
names = 'Julian Bob PyBites Dante Martin Rodolfo'.split()
countries = 'Australia Spain Global Argentina USA Mexico'.split()


def enumerate_names_countries():
    """Outputs:
       1. Julian     Australia
       2. Bob        Spain
       3. PyBites    Global
       4. Dante      Argentina
       5. Martin     USA
       6. Rodolfo    Mexico"""
    i = 0
    for i, name in enumerate(names):
      country = countries[i]
      print(str(i+1)+".", "{:<11}".format(name),country)
      #for name, country in zip(names, countries):
      #i += 1

      #print("%d %11s %s" %(i,name,country))
      #print(str(i) + ".", name.ljust(11),country)
      #print(str(i)+".", "{:<11}".format(name),country)

In [ ]:
enumerate_names_countries()

### Expected Solution

In [ ]:
names = 'Julian Bob PyBites Dante Martin Rodolfo'.split()
countries = 'Australia Spain Global Argentina USA Mexico'.split()


def enumerate_names_countries():
    """Outputs:
       1. Julian     Australia
       2. Bob        Spain
       3. PyBites    Global
       4. Dante      Argentina
       5. Martin     USA
       6. Rodolfo    Mexico"""
       
    print("1. Julian     Australia")
    print("2. Bob        Spain")
    print("3. PyBites    Global")
    print("4. Dante      Argentina")
    print("5. Martin     USA")
    print("6. Rodolfo    Mexico")

# Expected actual solution

In [ ]:
names = 'Julian Bob PyBites Dante Martin Rodolfo'.split()
countries = 'Australia Spain Global Argentina USA Mexico'.split()


def enumerate_names_countries():
    """Outputs:
       1. Julian     Australia
       2. Bob        Spain
       3. PyBites    Global
       4. Dante      Argentina
       5. Martin     USA
       6. Rodolfo    Mexico"""
    for i, (name, country) in enumerate(zip(names, countries), 1):
        print(f"{i}. {name:<11}{country:<11}")